<section>
  <header class="header-top">
    <p class="text-header pull-left"><i class="icon-page icon-back" data-ng-click="goLink(2)"></i>Edit Profile</p>
    <p class="pull-right">
      <a href="javascript:;" data-ng-click="goLink(2)" class="text-click">Save</a>
    </p>
  </header>
  <article class="article-sign-up">
    <div class="text-center fix-top-images">
      <a href="javascript:;" class="avatar-profile">
          <img src="#" data-ng-src="{{avatar}}" alt="images user">
          <span class="pie-edit"><i class="icon-page icon-edit"></i></span>
      </a>
    </div>
    <form>
      <div class="form-sign-up two">
        <p class="row-input">
          <span>Sign up as</span>
          <input type="text" name="Retailer" value="Retailer" disabled>
        </p>
        <p class="row-input">
          <span>Username 
            <i data-ng-show="Username == 'janedoe' && errorSignUp">*not available</i>
            <i data-ng-show="Username == null">{{empty}}</i>
          </span>
          <input type="text" name="User name" data-ng-class="{'error-text':Username == 'janedoe' && errorSignUp}" placeholder="Enter" data-ng-model="Username" data-ng-change="reloadSignUp()">
        </p>
        <p class="row-input">
          <span>Password<i data-ng-show="Password == null">{{empty}}</i></span>
          <input type="password" name="Password" placeholder="Password" data-ng-model="Password" data-ng-change="reloadSignUp()">
        </p>
        <p class="row-input">
          <span>Re-enter password<i data-ng-show="Repassword == null">{{empty}}</i></span>
          <input type="password" name="Re password" data-ng-model="Repassword" data-ng-change="reloadSignUp()">
        </p>
        <p class="row-input">
          <span>Name of person<i data-ng-show="Nameofperson == null">{{empty}}</i></span>
          <input type="text" name="Name of person" placeholder="Enter" data-ng-model="Nameofperson" data-ng-change="reloadSignUp()">
        </p>
        <p class="row-input">
          <span>Retailer name<i data-ng-show="Retailername == null">{{empty}}</i></span>
          <input type="text" name="Retailer name" placeholder="Enter" data-ng-model="Retailername" data-ng-change="reloadSignUp()">
        </p>
        <p class="row-input">
          <span>Address<i data-ng-show="Address == null">{{empty}}</i></span>
          <input type="text" name="Address" placeholder="Enter" data-ng-model="Address" data-ng-change="reloadSignUp()">
        </p>
        <p class="row-input">
          <span>Retailer ID<i data-ng-show="RetailerID == null">{{empty}}</i></span>
          <input type="text" name="Retailer ID" placeholder="Enter" data-ng-model="RetailerID" data-ng-change="reloadSignUp()">
        </p>
      </div>
    </form>
  </article>
</section>
<div class="pp-wrappwer" data-ng-show="sucessSignUp">
  <div class="pp-content text-center" data-center-screen>
    <p class="pp-text">Sign Up Success!</p>
    <span class="icon-page icon-success"></span>
    <p class="pp-text">Your account has been created</p>
    <div class="btn-slide two text-center">
      <a href="#Login" class="btn-full color text-transform">ok</a>
    </div>
  </div>
</div>