<header class="header-top" data-ng-class="{'content-push':showNav}">
    <p class="text-header pull-left">
      <i class="icon-page icon-push" data-ng-click="pushMenu()"></i>My Retailers</p>
    <div class="pull-right right-option">
      <a href="javascript:;" class="icon-page icon-option-w icon-filter" data-ng-click="goLink(9)"></a>
      <a href="javascript:;" class="icon-page icon-option-w icon-soft" data-ng-click="showSoft=!showSoft"></a>
      <a href="javascript:;" class="icon-page icon-option-w icon-graph" data-ng-click="goLink(16)"></a>
    </div>
</header>
<article class="ct-fix-header">
  <div class="item-inventory" data-ng-class="{'last-child':$last}" data-ng-repeat="item in MyRetailers.listData" data-ng-click="viewDetailUser(item); goLink(14)">
      <div class="col-xs-7">
          <a href="javascript:;" class="avatar-member">
              <img src="#" data-ng-src="{{item.avatar}}" alt="avatar member">
          </a>
          <p class="pull-left text-right-member">
              <a href="javascript:;">{{item.user}}</a><br>Retail Name
          </p>
      </div>
      <div class="col-xs-2">
          <p class="two-number-repeat">SOLD <br><span>{{item.sold}}</span></p>
      </div>
      <div class="col-xs-3">
          <p class="two-number-repeat two small-text">POINTS <br><span>{{item.points | currency:"":0}}</span></p>
      </div>
  </div>
  <p class="pin-add-right" data-ng-click="ppBTN=!ppBTN"><span class="icon-page icon-add-text"></span></p>
</article>
<div class="pp-show" data-ng-show="showSoft" data-ng-click="showSoft=false">
  <div class="pp-child two">
    <p class="text-center"><span class="arrow-top"></span></p>
    <div class="content-pp-child">
        <p class="set-center-two" data-ng-click="soft=1" data-ng-class="{'color':soft===1}">User name</p>
        <p class="set-center-two" data-ng-click="soft=2" data-ng-class="{'color':soft===2}">Barcode ID</p>
        <p class="set-center-two" data-ng-click="soft=3" data-ng-class="{'color':soft===3}">Date & time</p>
        <p class="set-center-two" data-ng-click="soft=4" data-ng-class="{'color':soft===4}">Quantity</p>
        <p class="set-center-two" data-ng-click="soft=5" data-ng-class="{'color':soft===5}">Points</p>
    </div>
  </div>
</div>
<div class="pp-show btn-pp" data-ng-show="ppBTN" data-ng-click="ppBTN=false">
  <div class="btn-option-list">
    <a href="javascript:;">Inquiry <span><i class="icon-page icon-pp-op icon-cmt-two"></i></span></a>
    <a href="javascript:;">Inventory Analystic <span><i class="icon-page icon-pp-op icon-views"></i></span></a>
    <a href="javascript:;" data-ng-click="goLink(8)">Scan Barcode <span><i class="icon-page icon-pp-op icon-scan"></i></span></a>
  </div>
</div>