<section>
  <header class="header-top">
    <p class="text-header pull-left"><i class="icon-page icon-back" data-ng-click="goLink(8)"></i>Scan Activity</p>
    <p class="pull-right right-option">
      <span class="icon-page icon-three-white"></span>
    </p>
  </header>
  <article class="ct-scaning color" data-ng-class="{'edit-code':editCode}">
    <div class="box-tabs item-tab" data-ng-init="viewTab=2">
      <a href="javascript:;" data-ng-class="{'active':viewTab===1}" data-ng-click="viewTab=1">Incoming</a>
      <a href="javascript:;" data-ng-class="{'active':viewTab===2}" data-ng-click="viewTab=2">Sold</a>
    </div>
    <div class="item-inventory fix-height" data-ng-class="{'last-child':$last}" data-ng-repeat="item in MyInventory.listData" data-ng-click="viewTool=false">
        <div class="col-xs-4">
          <p class="pin-status-item" data-ng-class="{'not-yet':!item.success}">
            <span class="arrow-pin"></span>
            <i class="icon-page icon-time-scan" data-ng-click="viewTool=!viewTool; $event.stopPropagation()"></i>
            <a href="javascript:;" class="text-tooltip" data-ng-show="viewTool">
              <span data-ng-hide="item.success">Not sync yet</span>
              <span data-ng-hide="!item.success">Successfully Sync</span>
            </a>
          </p>
          <a href="javascript:;" class="img-thumb" data-ng-click="goLink(11); viewDetail(item)">
            <img src="#" data-ng-src="{{item.img}}" alt="images product">
          </a>
        </div>
        <div class="col-xs-8 no-padding">
          <div class="col-xs-12 no-padding">
            <p class="name-inven" data-ng-click="goLink(11); viewDetail(item)">{{item.name}}<br><span>#{{item.id}}</span><span class="icon-page icon-three-pie" data-ng-click="option=!option; $event.stopPropagation()"></span></p>
          </div>
          <div class="col-xs-12 no-padding">
            <div class="col-xs-2 no-padding text-left" data-ng-hide="viewTab===3">
                <p class="two-number-repeat fix-left new">QTY <br><span>{{item.qty}}</span></p>
            </div>
            <div class="col-xs-4">
                <p class="two-number-repeat two">POINTS <br><span>{{item.points}}</span></p>
            </div>
            <div class="col-xs-6">
                <p class="two-number-repeat fix-span text-left">SCAN ON <br><span>{{item.time}}</span></p>
            </div>
          </div>      
        </div>
        <div class="clearfix"></div>
        <div class="pp-item-set" data-ng-show="option" data-ng-click="option=flase">
          <p class="right-option-item">
            <a href="javascript:;" data-ng-click="goLink(11); viewDetail(item)">More detail</a>
            <a href="javascript:;">Contact agent</a>
          </p>
        </div>
    </div>
  </article>
</section>